{% load staticfiles %}
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script type="text/javascript" src="{% static 'ol/ol.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>	
