<style class="text/css">
.items-list-ig{margin:0;padding:0;list-style-type:none;display:block;margin:10px 0;}
.items-list-ig:after{content:" ";clear:both;display:block}
.items-list-ig .title{display:block;float:left;width:100%;padding:20px 10px 5px 0;font-size:1.142857142857143rem}
.items-list-ig .item{border:1px solid #fafafa;float:left;height:260px;padding:12px;position:relative;width:214px;}
.items-list-ig .item:hover{background:#fff;border:1px solid #ccc;-webkit-box-shadow:0 0 2px 2px rgba(0,0,0,0.1);-moz-box-shadow:0 0 2px 2px rgba(0,0,0,0.1);box-shadow:0 0 2px 2px rgba(0,0,0,0.1);z-index:100}
.items-list-ig .item h3{font-weight:normal;margin:0}
.items-list-ig .item a{display:block;}
.items-list-ig .item a:hover{text-decoration:none}
.items-list-ig .item p,
.items-list-ig .item .items-image{display:block;margin:0;vertical-align:top}
.items-list-ig .item .items-image{border:1px solid #ccc;height:161px;position:relative;width:214px;}
.items-list-ig .item .items-image img{bottom:0;left:0;margin:auto;max-height:100%;max-width:100%;position:absolute;right:0;top:0}
.items-list-ig .item .items-info{font-size:1.142857142857143rem;height:40px;line-height:1.25;margin:10px 0 0;overflow:hidden;}
.items-list-ig .item .items-info span{color:#999;font-size:.857142857142857rem}
.items-list-ig .item .items-price{color:#000;font-size:1.142857142857143rem;font-weight:bold;height:20px;margin:5px 0;}
.items-list-ig .item .items-price span{font-size:.857142857142857rem}
.items-list-ig .item .items-date,.items-list-ig .item .items-optional{color:#999;font-size:.857142857142857rem}
.items-list-ig .item .items-optional{display:inline-block;}.items-list-ig .item .items-optional.mileage::before{content:" - "}
.items-list-ig .item p.soldad .icon-check-round{color:#ec0}
.items-list-ig .item p.soldad em{background:#ec0;color:#fff;font-size:10px;font-weight:bold;left:0;padding:0 20px 0 30px;position:absolute;height:20px;line-height:20px;text-transform:uppercase;font-style:normal;}
.items-list-ig .item p.soldad em:after{border-color:#ec0 transparent #ec0 #ec0;border-style:solid;border-width:10px;bottom:0;content:" ";height:0;position:absolute;right:-10px;width:0}.items-list-ig .item p.featuredad .icon-star-circle{color:#890}
.items-list-ig .item p.featuredad em{background:#ab0;color:#fff;font-size:10px;font-weight:bold;left:0;padding:0 20px 0 30px;position:absolute;height:20px;line-height:20px;text-transform:uppercase;font-style:normal;}
.items-list-ig .item p.featuredad em:after{border-color:#ab0 transparent #ab0 #ab0;border-style:solid;border-width:10px;bottom:0;content:" ";height:0;position:absolute;right:-10px;width:0}
.items-list-ig .item p.featuredad,.items-list-ig .item p.soldad{position:absolute;left:0;top:13px;height:20px;}
.items-list-ig .item p.featuredad i,.items-list-ig .item p.soldad i{font-size:26px;position:absolute;z-index:10;top:-7px;left:0;}
.items-list-ig .item p.featuredad i:before,.items-list-ig .item p.soldad i:before{border:2px solid #fff;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;background:#fff}.items-list-ig .item p.featuredad em,.items-list-ig .item p.soldad em{top:0;left:24px;padding-left:22px;position:absolute;width:115px;text-align:center}
</style>

<ul class="items-list-ig ">
        
            <li class="item">
                <a href="http://cbd.olx.co.ke/brand-new-tecno-y6-sealed-with-warranty-iid-833351642" data-qa="list-item">
                    <figure class="items-image">
                        <img src="http://images03.olx-st.com/ui/97/27/82/t_1442529218_833351642_1.jpg">
                    </figure>
                    <h3 class="items-info">
                        Brand new Tecno y6 sealed with warranty
                    </h3>
                    <p class="items-price">
                        Ksh7999
                        <span>Negotiable</span>
                    </p>

                    

                    
                        <p class="items-date">
                            18 Sep
                        </p>
                    

                </a>
            </li>
            
        </ul>